html,
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 60px;
}

.search-cart,
.menu-logo {
  display: flex;
  flex-direction: row;
}

.header-item {
  display: flex;
  align-items: center;
}

.menu img {
  height: 30px;
  width: 30px;
}

.logo img {
  height: 50px;
  width: 210px;
}

.search img {
  height: 25px;
  width: 25px;
}

.cart i {
  font-size: 25px;
}

.menu-logo {
  align-items: center;
}

.cart {
  margin: 0 10px;
}

.join {
  background-color: pink;
  height: 50px;
}

.join a {
  text-decoration: none;
}

.join h1 {
  font-size: 15px;
  text-align: center;
  padding: 10px 10px;
  color: black;
}

.billboard {
  display: flex;
  flex-direction: row;
}

.image1,
.image2,
.image3 {
  width: 33.3%;
  height: 40vh;
}

.image1 img,
.image2 img,
.image3 img {
  width: 100%;
  height: 40vh;
}

.advert {
   display: flex;
   flex-direction: column;
   background-color: pink;
   align-items: center;
}
.advert h2 {
   font-size: 13px;
   font-family: 'Dancing Script', cursive;
}

.advert h3 {
   font-size: 15px;
   font-family: 'Dancing Script', cursive;
}