html,
body {
  font-family: "Roboto", sans-serif;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 60px;
}

.search-cart,
.menu-logo {
  display: flex;
  flex-direction: row;
}

.header-item {
  display: flex;
  align-items: center;
}

.menu img {
  height: 30px;
  width: 30px;
}

.logo img {
  height: 50px;
  width: 210px;
}

.search img {
  height: 25px;
  width: 25px;
}

.cart img {
  height: 25px;
  width: 25px;
}

.menu-logo {
  align-items: center;
}

.cart {
  margin: 0 10px;
}

.join {
  background-color: pink;
  height: 40px;
}

.join a {
  text-decoration: none;
}

.join h1 {
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  color: black;
}

.billboard {
  display: flex;
  flex-direction: row;
}

.image1,
.image2,
.image3 {
  width: 33.3%;
  height: 45vh;
}

.image1 img,
.image2 img,
.image3 img {
  width: 100%;
  height: 45vh;
}

.advert {
  display: flex;
  flex-direction: column;
  background-color: pink;
  align-items: center;
}

.advert h2 {
  font-size: 13px;
  font-family: "Dancing Script", cursive;
}

.advert h3 {
  font-size: 15px;
  font-family: "Dancing Script", cursive;
}

.new-arrivals {
  text-align: center;
  font-size: 14px;
}

.arrivals-image img {
  height: 200px;
  width: 100%;
}

.arrivals-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.descriptions h4 {
  font-size: 10px;
  text-align: center;
}

.rate {
   text-align: center;
   line-height: 5px;
}

.rate i {
  font-size: 10px;
  color: black;
}

.rate span {
  font-size: 10px;
  font-weight: bold;
}

.price {
   text-align: center;
   font-size: 13px;
}

.menu-sections {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
}

.new {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.new img {
   height: 200px;
   width: 100%;
}

.new a {
   color: black;
   text-decoration: none;
   text-align: center;
   margin-top: 10px;
   font-weight: bold;
}

.sub-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.contacts, .about-us {
  text-align: center;
}

.sign-up {
  text-align: center;
}

input {
  border: none;
  font-size: 15px;
}

.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: 90%;
  align-self: center;
}

.fa-envelope {
  font-size: 20px;
}
.subtext {
 width: 90%;
 align-self: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.social div i {
  font-size: 35px;
}

.twitter, .facebook {
  margin: 0 10px 0 20px;
}

.facebook {
  margin: 0 20px 0 10px;
}

.copyright {
  text-align: center;
  margin-top: 10px;
}

.payment-gateway {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.mpesa {
  height: 40px;
  width: 60px;
}

.paypal {
  height: 40px;
  width: 60px;
  background-color: white;
  margin: 0 10px 0 10px;
}

.applepay {
  height: 40px;
  width: 60px;
  margin: 0 10px 0 0;
}

.gpay {
  height: 40px;
  width: 60px;
}